<!DOCTYPE html>
<h1 style="text-align: center;">Log</h1>
<form class="form-inline" id="inputScheduleForm" action="/addScheduleInput" method="POST">
    <div class="inputScheduleRow">
        <div>Date</div>
        <div>Mileage</div>
        <div>Workout/Extras</div>
        <div>Exercises</div>
        <div>Comments</div>
    </div>
    <% for (var i = 0; i < 7; i++) { %>
        <div class="inputScheduleRow">
            <input type="date" class="form-control inputScheduleDate date" name="date[]" placeholder="Date" readonly>
            <input type="number" value="6" class="form-control textAlignCenter mileage" name="mileage[]" placeholder="Mileage" readonly>
            <input type="text" value="Strides" class="form-control textAlignCenter workoutOrExtra" name="workoutOrExtra[]" placeholder="Workout/Extras" readonly>
            <input type="text" value="Core" class="form-control exercise" name="exercise[]" placeholder="Exercises" readonly>
            <input type="text" value = "comment" class="form-control" placeholder="Comments">
        </div>
    <% } %>
</form>
<h1>Workouts:</h1>
<% workouts.forEach(workout => { %>
<div style="background-color: <%= workout.gradeColor %>; padding:3%; margin:10px">
    <%=workout.workout%>
    <%=workout.year%>
    <%=workout.month%>
    <%=workout.day%>
    <%=workout.dayOfWeek%>
    <%=workout.grade%>
    <%=workout.notes%>
</div>
<% }); %>
<h1>Easy Runs:</h1>
<% easyruns.forEach(run => { %>
    <div style="background-color: <%= run.gradeColor %>; padding:3%; margin:10px">
        <h3>Distance: <%=run.mileage%> miles</h3>
        <h3> Time: <%=run.minutes%>:<%=run.seconds%> </h3>
        <h3>Pace: <%= run.avgTime %></h3>
        <h3>Comments: <%= run.notes %></h3>
        <!-- <%=run.year%>
        <%=run.month%>
        <%=run.day%>
        <%=run.dayOfWeek%>
        <%=run.grade%>
        <%=run.notes%> -->
    </div>
<% }); %>
<h2>Cross Trains:</h2>
<% crosstrains.forEach(crossTrain => { %>
    <div style="background-color: <%= crossTrain.gradeColor %>; padding:3%; margin:10px">
        <h3><%=crossTrain.workout %></h3>
        <h3><%=crossTrain.time %></h3>
        <h3><%=crossTrain.notes %></h3>
    </div>
<% }); %>